/* individual card styles */

.logo{

    size: 60px;
    min-width: 5%;
    max-width: 10%;
    min-height: 5%;
    max-height: 10%;
    height: auto;
}

.header{

    white-space: normal;
    display: flex;
    background-color: #f9f9f9;
    top:0em;
    align-items: flex-start;
    padding-top: 0em;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.1);
    padding-top: 0.5em;
   
}


#headerButtons a{

    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    padding: 1.5em;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    color: #51279B;
    text-decoration: none;
    margin-top: 1em;
}

#headerButtons :hover{
    color: #8662C7;

}

body{

    padding: 0;
    margin: 0em;
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.image-info{
    padding: 40px;
}

.large-image{

    width: 70%;
    margin: auto;
    display: block;
    padding-top: 0em;
    padding-bottom: 1em;
    position: relative;

}

h1{
    margin-bottom: 0em;
}

h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: 0em;
    margin-bottom: 0.70em;
}

 .engagement-status{
    display: inline-flex; 
} 

.engagement-status p{

    padding-right: 1em;
    margin-right: 0.25em;
    display: block;
    margin: 0em 0.25em 1em 0.1em;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.heart{
    margin-left: 1.10em;
    display: inline-block;
    max-width: 1em;
    max-height: 1em;

}

.comment{
    display: inline-block;
    max-width: 1em;
    max-height: 1em;
}

blockquote{

    width:50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: 1px solid #8662C7;
    margin:0em;
    padding: 1em;
    margin-left: 25%;
    margin-top: 1em;


}

footer{
    margin: 1em -1em -1em;
    text-align: center;
    padding: 1.50em 2em 2em 3.5em;
    color: white;
    background-color: #51279B;
    left: 0em;
    bottom: 0em ;
}

a{
    color: white;
    text-decoration: none;
}